<div id="main-container">
  <div *ngFor="let table of tableList">
    <ag-grid-angular  id="dataTable" #dataTable
                      domLayout="autoHeight"
                      [rowData]="dataList"
                      [suppressHorizontalScroll]="true"
                      [columnDefs]="columnDefs"
                      [minColWidth]="75"
                      [enableColResize]="true"
                      class="ag-theme-balham"
                      style="width: 100%; height: 100%">
    </ag-grid-angular>

  </div>
  <div>
    <button (click)="tableList.push('')">add</button>
  </div>
</div>
